

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2c2d;
    color: #333;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to the container for better readability */
}

header {
    background-color: #2b2c2d;
    color: #c6c7c9;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    margin-top: 20px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

#main-banner {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

#main-banner img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    border: 2px double #fff;
}

.description {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }

    nav a {
        margin: 0 10px; /* Adjust margin for navigation links on smaller screens */
    }

    #main-banner img {
        height: auto;
    }

    .description {
        padding: 10px;
        font-size: 14px;
    }
}

/* Add more media queries as needed for specific breakpoints */

