body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to the container for better readability */
}

header#top-banner {
    background-image: url('EthanBanner.jpg'); /* Set the image as background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1; /* Ensure the navigation is below the image */
}

h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the navigation is above the image */
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.description {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    nav a {
        margin: 0 10px;
    }

    .description {
        padding: 10px;
        font-size: 14px;
    }
}

